<head>
    <title>Search image</title>
</head>
    <body>
        <div class="title">
            <h1>Search photo by tag name</h1>
        </div>
        <div id="content">
            <form method="post" action="/search_image">
                <label for="search_here">Enter Tag:*</label>
                <input type="text" id = "search_here" name="search_here" /><br />
                <input type="submit" value="Search"/>
            </form>
         </div>
    </body>

<a href='/'>Home</a>
<br><a href='/profile'>Back</a>